@font-face {
    src: url("media/fonts/VarelaRound-Regular.ttf");
    font-family: Varela;
}

@font-face {
    src: url("media/fonts/Arimo-Regular.ttf");
    font-family: Arimo;
}

@keyframes pulseAndTurn {
    0% {
        border: red solid 5px;
    }
    50% {
        border: red solid 5px;
        transform: scale(1.5) rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes pulse {
    15% {
        background: radial-gradient(#63d11a, transparent 60%);
    }
    50% {
        transform: scale(1.1);
    }
    85% {
        background: radial-gradient(#63d11a, transparent 60%);
    }
}

@keyframes fall {
    20% {
        opacity: 1;
    }
    100% {
        transform: translateY(80px);
        opacity: 0;
    }
}

body {
    margin: 0;
    background-image: url(media/instructionsBackground.png);
    background-size: contain;
    /* background-repeat: round; */
    overflow: hidden;
    direction: rtl;
    font-family: Varela;
}

#page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.flowchart-container {
    flex-grow: 1;
    height: 90%;
    margin-top: -2%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.flowchart-container img, .flowchart-container div {
    position: absolute;
}

.flowchart-container .plate {
    height: 10%;
    /* z-index: 0; */
    background-color: hsl(230, 68%, 58%);
    background-size: cover;
    border: ridge hsl(230, 64%, 48%) 6px;
    border-radius: 50%;
}

.flowchart-container .connection-plate {
    height: 8%;
    background-color: hsl(90, 62%, 54%);
    border: ridge hsl(90, 58%, 44%) 6px;
}

.inventory {
    height: 100%;
    z-index: 2;
    width: 32vw;
    max-width: 500px;
    background-color: #ff4da699;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    overflow-y: auto;
}

.draggable {
    width: 120px;
    height: 120px;
    z-index: 1;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
}

.ui-draggable-dragging {
    cursor: grab;
    z-index: 3;
}

.draggable-name-container {
    width: 100%;
    padding: 8%;
    text-align: center;
}

.draggable-name {
    text-align: center;
    font-family: Varela;
    font-size: 120%;
    padding: 2%;
    border: none;
    color: white;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
}

.check-btn {
    background-color: #9fe04f;
    border: black 5px solid;
    text-align: center;
    margin: auto 1%;
    cursor: pointer;
    transition: 0.5s;
    box-sizing: border-box;
    display: inline-block;
    font-weight: bold;
    top: 100%;
    font-size: 130%;
    height: fit-content;
    padding: 1% 5%;
}

.check-btn:hover {
    border-right-width: 10px;
    border-left-width: 10px;
    border-color: white black white black;
}

.lines {
    z-index: -1;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lines line {
    stroke-width: 3px;
    stroke: rgb(107, 145, 38);
}

.confirmation-box {
    display: none;
    z-index: 5;
    background-color: #f3f3f3;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    box-sizing: border-box;
    padding: 3%;
    font-size: calc(1vw + 1vh);
    box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.5);
}

.confirmation-box button {
    font-family: Arimo;
    cursor: pointer;
    border: black solid 1px;
    padding: 1.5% 4%;
    font-size: calc(1vw + 1vh);
    width: 24%;
    margin-right: 3%;
}

.confirmation-box .confirm {
    color: white;
    background-color: #2c7204;
    float: left;
}

.confirmation-box .confirm:hover {
    color: white;
    background-color: #172b0a;
    float: left;
}

.mistake {
    position: absolute;
    z-index: 5;
    top: 40%;
    left: 60%;
    animation: fall linear 1s forwards;
}

.instructions {
    position: absolute;
    background-image: url("media/flowchartMedia/instructionsBackground.png");
    background-size: cover;
    width: 700px;
    max-width: 70vw;
    height: fit-content;
    box-sizing: border-box;
    padding: 5% 5%;
    font-size: 140%;
    border: black solid 5px;
    text-align: center;
    line-height: 150%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5% auto;
}

.instructions p {
    background-color: #f8f8f8;
}

.got-it-btn {
    margin-top: 5%;
    background-color: hsl(335, 100%, 83%);
}

.overlay {
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    /* display: none; */
}

/* flowchart items position */

#customer {
    top: 10%;
}

#meitav-call-center {
    top: 47%;
    left: calc(35% - 200px);
}

#departments-call-center {
    top: 46%;
    left: 65%;
}

#plate1 {
    top: 27%;
    left: calc(80% - 51px);
}

#plate2 {
    top: 27%;
    left: calc(60% - 51px);
}

#plate3 {
    top: 27%;
    left: calc(40% - 51px);
}

#plate4 {
    top: 27%;
    left: calc(20% - 51px);
}

#plate5 {
    top: 80%;
    left: calc(40% - 51px);
}

#plate6 {
    top: 80%;
    left: calc(60% - 51px);
}

#plate7 {
    top: 47%;
    left: calc(50% - 51px);
}

#plate8 {
    top: 65%;
    left: calc(50% - 51px);
}

/* #plate9 {
    top: 63%;
    left: 25%;
}

#plate10 {
    top: 52%;
    left: 50%;
} */